<div class="banner-show" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <a class="btn btn-primary btn-lg">See more pictures</a>
  </div>
</div>

<div class="flexbox">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <div class="anchor">
          <a href="#title-show"><p>Description</p></a>
          <a href="#reviews-show"><p>Reviews</p></a>
          <a href="#map-show"><p>Map</p></a>
        </div>
        <div class="container-title-show" id="title-show">
          <h1 class="text-center"><%= @flat.name %></h1>
          <img src="https://kitt.lewagon.com/placeholder/users/adrienmoison" id="avatar-show">
        </div>
        <h3 class="text-center"><%= @flat.address %></h3>
        <br>
        <% 2.times do %>
        <p id="flat-description"><%= @flat.description %></p>
        <% end %>
        <h3 class="text-center" id="reviews-show"><%= "Reviews" %></h3>
        <p>No reviews for this property yet :(</p>
        <h3 class="text-center" id="map-show"><%= "Map" %></h3>

        <!-- MAP HERE -->
        <div id="map" style="width: 100%; height: 400px;" data-markers="<%= @markers.to_json %>"></div>
        <br>
        <br>
        <div class="buttons">
          <%= link_to "Back to list", flats_path, class: "btn btn-primary" %>

          <% if policy(@flat).update? || current_user.admin %>
          <%= link_to "Edit your flat", edit_flat_path(@flat), class: "btn btn-primary" %>
          <%end%>

          <% if policy(@flat).destroy? || current_user.admin %>
          <%= link_to "Delete your flat", flat_path(@flat), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
          <%end %>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1" id="form-show">
        <h1 class="text-center"><%= @flat.price %>€ per night</h1>
        <% if policy(Booking).create? %>
        <%= render 'new_booking_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


