<div class="banner-show" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <a class="btn btn-primary btn-lg">See more pictures</a>
  </div>
</div>

<div class="container">
  <h1 class="text-center"><%= @flat.name %></h1>
  <h3 class="text-center"><%= @flat.address %></h3>
  <h5 class="text-center">Price : <%= @flat.price %></h5>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol class="list-unstyled">
        <div class="text-center">
          <p><%= @flat.description %></p>
        </div>
      </ol>
    </div>
  </div>
  <%= render 'new_booking_form' %>
</div>
<div class="container">
  <div class="text-center"><%= link_to "Back to list", flats_path, class: "btn btn-primary" %>
  <%= link_to "Edit your flat", edit_flat_path(@flat), class: "btn btn-primary" %>
  <%= link_to "Delete your flat", flat_path(@flat), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></div>
  </div>
</div>
