<div class="container">
  <div class="dashboard">
    <h1 class="text-center">My Dashboard</h1>
    <div class="row">
      <h2 class="title-header">My bookings</h2>
      <% @bookings.each do |booking| %>
        <div class="col-sm-4">
          <div class="bookings-card">
            <div class = "bookings-title">
              <h3 id="booking-name"> <%= link_to booking.flat.name, flat_path(booking.flat_id) %></h3>
              <h4 id="booking-price"><%= booking.nights * booking.flat.price %>€ </h4>
            </div>
            <hr>
            <%if booking.status == "Pending"  %>
              <p>Status: <%= booking.status %></p>
            <% elsif booking.status == "Accepted" %>
              <p class="green">Status: <%= booking.status %></p>
            <% else %>
              <p class="red">Status: <%= booking.status %></p>
            <% end %>
            <ul class="list-unstyled text-center">
              <li class="booking-details"><strong># of nights:</strong> <%= booking.nights %></li>
              <li class="booking-details"><strong>Start:</strong> <%= booking.start_date.strftime("%d-%m-%Y")  %></li>
              <li class="booking-details"><strong>End:</strong> <%= booking.end_date %></li>
              <li class="booking-details"><strong># of guests:</strong> <%= booking.guests %></li>
            <ul>
            <%= link_to "Cancel booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-show btn-xs text-center", id:"cancel-btn" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <h2 class="title-header">My flats</h2>
      <% @flats.each do |flat| %>
        <div class="col-sm-4">
          <div class="flats-card">
            <h3> <%= flat.name %></h3>
            <hr>
            <p>Upcoming bookings: <%= @my_flat_bookings[0].count %></p>
            <% @my_flat_bookings[0].each do |flat_booking| %>
              <ul class="list-unstyled text-center">
                <li class="booking-details"><strong>Booked by: <%= flat_booking.user.first_name%> <%= flat_booking.user.last_name%> </strong></li>
                <li class="booking-details"># of nights: <%= flat_booking.nights%></li>
                <li class="booking-details">Start date: <%= flat_booking.start_date%></li>
                <li class="booking-details">End date: <%= flat_booking.end_date %></li>
                <li class="booking-details">Guests: <%= flat_booking.guests %></li>
                <%if flat_booking.status == "Pending"  %>
                  <li class="booking-details">Status: <%= flat_booking.status %></li>
                <% elsif flat_booking.status == "Accepted" %>
                  <li class="booking-details green">Status: <%= flat_booking.status %></li>
                <% else %>
                  <li class="booking-details red">Status: <%= flat_booking.status %></li>
                <% end %>
                <%if flat_booking.status == "Pending"  %>
                  <%= link_to "Accept", accept_booking_path(flat_booking), class:"btn btn-show btn-xs" %>
                  <%= link_to "Decline", decline_booking_path(flat_booking), class:"btn btn-show btn-xs" %>
                <% elsif flat_booking.status == "Accepted" %>
                  <%= link_to "Decline", decline_booking_path(flat_booking), class:"btn btn-show btn-xs" %>
                <% else %>
                  <%= link_to "Accept", accept_booking_path(flat_booking), class:"btn btn-show btn-xs" %>
                <% end %>
              </ul>
            <% end %>
          </div>


        </div>
      <% end %>
    </div>
  </div>
</div>
