<div class="container">
  <div class="row">
    <%@bookings.each do |booking| %>
      <div class="col-sm-4 col-sm-offset-4">
        <div class="dashboard-card">
          <h2 class="card-name text-center"><%= booking.flat.name %></h2>
        </div>
        <ul class="list-unstyled text-center">
            <li>Nights: <%= booking.nights %></li>
            <li>Start: <%= booking.start_date %></li>
            <li>End: <%= booking.end_date %></li>
            <li>Number of guests: <%= booking.guests %></li>
            <li>Reserved by: <%= booking.user.first_name %> <%= booking.user.last_name %></li>
          <ul>
          <%= link_to "Cancel booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-primary btn-xs text-center" %>
      </div>
    <% end %>
  </div>
</div>
